
/* FOR ALL PAGES  */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
} */
.bg_div{ 
    /* To style body and background image   */
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%; width: 100%;
    background-size:cover;
    background-image: url('./asset/BG.jpg');
  }

.top-bar{    /* To stule Top menu  */
    
    font-family: 'Gill Sans';
    flex-direction: row;
    display: flex;
    position: absolute;
    height: 75;width: 50%;
    left: 650;  
    top: 15; 
    /* background-color: aqua; */
   
} 
.button{    /* All button styles  */
 border:transparent;
  background-color:transparent;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration:underline;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  height: 50; width: 200;
  border-radius: 12px;
  opacity: 0.6;
  
}

.back{
    flex-direction: column;
    display: flex;
    padding: 0%;
    align-items: center;
}
/* FOR ALL PAGES  */

/* FOR INDEX CHANGING TEXT  */


/* styles.css */
/* styles.css */

.Footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Use 'space-around' to distribute icons evenly */
    align-items: center;
    bottom: 10;
    /* height: 100vh;  */
    width: 100vh; 
    /* background-color: #000; */
}

.icon-container {
    
    opacity: 0.9;
    flex: 1;
    margin: 0 150px; /* Increase the margin to add more space between icons */
}

.linkedin-icon {
    height: 60px;
    width: 70px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.facebook-icon {
    height: 60px;
    width: 70px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.instagram-icon {
    height: 70px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.5s;
}

.github-icon {
    height: 70px;
    width: 80px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.5s;
}

/* Hover effect */
.linkedin-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.github-icon:hover {
    transform: scale(1.5);
}


  /*  */
.body-text{
   
    position: relative;
    top: 255; left:-200;
    height: 50%; width: 50%;
    opacity: .8;
   

}

.left-top{
    padding: 1;
    font-family: 'Trebuchet MS';
    font-size: 52;
    font-weight: 700;
    position: absolute;  
    top:15;
    left: 160;
    color:#000000;
    opacity: .6;
    text-decoration:rgb(111, 72, 0);
    text-decoration-line: underline;
    
}

.logo{
    padding: 10;
    position: absolute;
    height: 150; width: 150;
    top: 15;
    color: #000;
    opacity: .9;
}
/* about */
.about-text{
    position: absolute;
   
    
    align-content: space-between;
    left: 530;
    top: 150;
    text-decoration: wavy;
}


/* FOR PROJECT  */ 
.Project-text{
    align-content: center;
    position: absolute;
    top: 100px;

}

.bodyImg{
    height: 40%; width: 60%;
    opacity: .8;
    border-color: blanchedalmond;
    
}
